@model Movie
<form asp-controller="home" asp-action="create" method="post" class="form-control">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Director" class="form-label"></label>
        <input asp-for="Director" class="form-control">
        <span asp-validation-for="Director" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Actors" class="form-label"></label>
        <input asp-for="Actors" class="form-control"/>
        <span asp-validation-for="Actors" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Genre_Id" class="form-label"></label>
        <select asp-for="Genre_Id" class="form-select" asp-items="@ViewBag.Genres">
            <option disable selected>Lütfen Bir Kategori seçiniz</option>
        </select>
        <span asp-validation-for="Genre_Id" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
@section categories {
    @await Component.InvokeAsync("Genres")
}